body {
    font-family: 'Arial', sans-serif;
    background-color: #e2ccdc;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background:linear-gradient(to right, purple, rgb(78, 64, 64)) ;
    color: #fff;
    text-align: center;
    padding: 10px;
    position:sticky;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

main {
    /* max-width: 1000px; */
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(45deg, hsla(287, 55%, 91%, 0.235), #eeaeeb, #ebcad9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
    margin-bottom: 20px;
}

.left_curve{
    border-radius: 20px 20px 20px 59px;
    background-color: #bd2e71;
    color:#ccc;
}
 
.right_curve{
    border-radius: 17%;
    background-color: #5b1786;
    color: #fff;
}

.events-section .event {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.carousel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel-item img {
    width: 100%;
    display: block;
  }

.events-section .event h3 {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    background:linear-gradient(to right, purple, rgb(78, 64, 64)) ;
    color: #fff;
    padding: 10px;
    width: 100%;
    bottom: 0;
}
footer li {
    list-style-type:none;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
    
    .icon {
        display: block;
    }
    
    nav ul.show {
        display: flex;
    }
}
